body{background: #000000 }
header{background: black;
color: rgba(255,255,255,.7) }
/*menu*/
nav{background: black;
display: table;
width: 100%;
padding: 0;}
.menu{list-style: none;
margin: 0;
padding: 0;
text-align: center;}
.menu li{float:left;
}
.menu a{line-height: 3;
color: #ddd;
text-decoration: none;
padding: 0 1.7em;
text-transform: uppercase;
font-family: Kristen ITC;}
.menu a:hover{color: steelblue;
}
/*body*/
.caracteristicas{padding-top: 2em;}

footer{background: black;
padding: 2.5em 0;
margin-top: 3em;
}

h2{font-family:  Kristen ITC;
text-align: center;
color: white;
}

.banner{
position: relative;
width: auto;height: auto; 
}

#pf{text-align: center;
font-family: "Roboto", sans-serif;
color: aliceblue;}

#formulario{
	background: url("https://static.wixstatic.com/media/097f15_74ac881b7f3c48bf85080de25a7294ec~mv2.gif");
	padding-bottom: 2em;
	padding-top: 1em;
}

/*reportar.php*/
legend {
  color: white;
}

.ok{
  position: block;
  text-align: center;
  width: 50%;
  padding: 5px;
  background-color: green;
  color: black;
}

.bad{
  position: block;
  text-align: center;
  width: 50%;
  padding: 5px;
  background-color: red;
  color: white;
}

/* Input Forms*/
input[type="text"], input[type="date"] {
  outline: none;
  padding: 8px; 
  display: inherit-block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
  background-color: #fff;
}

label {
  width: 30%;
  display: inherit;
  text-align: left;
  color: white;
}

input[type="radio"] {
background-position: 0 50px; 
width: 15px; height: 15px;
margin: 10px auto;
}

#rad {
  text-align: center;
  color: white;
}



select {
   outline: none;
  padding: 8px; 
  display: inherit-block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
  background-color: #fff;
}

textarea { 
  display: inherit;
  width: 80%;
  height: 20%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
  background-color: #fff;
  resize: none;
}

/*Botoms*/
input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #07a81c;
  width: 250px;
  margin: 20px auto;
  margin-top: 20px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00eb56;
}

input[type="reset"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 250px;
  margin: 20px auto;
  margin-top: 20px;;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="reset"]:hover {
  background-color: #00b8eb;
}

fieldset {
width: auto;
} 



/*buscar.php*/
table{

  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  background: white;
overflow: scroll;
	
}

td{
  width: auto;
  border: 1px solid black;
  color: black;
  
}

tr {
  height: 50px;
  color: black;
  }

  /*perfil.php*/
#boton{

	border: 1px solid #000000; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #1BA9CF; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
position: block;

}
#perfil2{
	align-content: center;
	background: black;
	padding: 50px;
}
#perfil{
	background: url("../imagenes/fondo.gif");
	
	
}
#p{
	color:white;
	font-family:"averia-sans-libre";
	font-size: 25px;
}
.logo{
	padding-top: 2em;
	
}